
@media only screen and (max-width: 768px) {
   
}

html,
body{
  height: 100%;
}
.navbar{
    background-color:#e4a344 !important

}


.navbar-brand{
    font-size:30px;

}
a{
    margin:10px;
    font-size: 28px !important;
    color: whitesmoke!important;
}
a:hover{
    
    color: #94906a  !important
}

h1{
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
    
}

.header-p{
    font-family: 'Raleway', sans-serif;
    color: whitesmoke !important;
    
}
