i{
    padding-bottom: 5rem;
    font-size:3rem;
    /* margin-right: 2rem; */
    text-align: center;
}
.container{
    margin-top: 9rem;
    margin-bottom: 13rem;
    
}

.box{
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: tomato;
}
.space{
    margin-top: 9rem;
}
